[Unit]
Description=Run script at startup

[Service]
Type=oneshot
ExecStart=/opt/boot.sh
TimeoutStartSec=0
StandardOutput=journal+console

[Install]
WantedBy=default.target
