[Unit]
Description=Overpass API dispatcher daemon (osm areas)
After=boot_script.service
Requires=boot_script.service

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/local/bin/dispatcher --areas --db-dir=/opt/osm_db --rate-limit=0 --allow-duplicate-queries=yes"
ExecStop=/usr/local/bin/dispatcher --terminate
TimeoutStartSec=0
User=osm_user

[Install]
WantedBy=default.target
